h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  padding-left: 10px;
  background: orange;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

div {
  font-size: 40px;
}
